@model Shared.ViewModel.ProductVM;

@section Scripts{
<script> 
    var splide = new Splide("#splide2", {
        perPage: 4,
        rewind: true,
    }).mount();
</script>
}
@{
    var arDes = Model.proDescription.Split("/");
    var summary = arDes[0] ?? "";
    var desscription = arDes[1] ?? "";
}
<div class="py-3"> </div>
<div class="product-detail-page">
    <div class="row">
            <div class="col-5 product-detail-img">
                <div id="splide2" class="splide">
                    <div class="splide__track">
                        <ul class="splide__list">
                            <li class="splide__slide"><img product-src="@Model.Image" alt=""/></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-7">
                <h4 class="mb-3">
                    <div class="product-name">@Model.proName</div>
                    <div class="product-summary">@summary</div>
                </h4>
                <div class="mb-3">
                    <bold>$ @Model.proPrice</bold>
                </div>
                <div class="mb-3">
                    <a href="">Write a review</a>
                </div>
                <div class="product-description mb-3">
                    <p>@desscription</p>
                </div>
                <div class="py-3">
                    <div class="shippingreturn d-block" data-bs-toggle="modal" data-bs-target="#exampleModal" href="">
                        Get it
                        shipped! You are only $50,00 away from free shipping</div>
                </div>
                <div>
                    <span class="d-block Add-button text-center">Add to Cart</span>
                </div>
            </div>
    </div>

</div>

<div class="product-detail-bottom px-5">
    <hr>
    <b class="py-3 d-inline-block">Highlight</b>
    <div class="produtct-presentation-icon px-5">
        <div>
            <div class="row pb-3">
                <div class="col-4">Recyclable Packaging</div>
                <div class="col-4">Good for: Dullness/Uneven Texture</div>
                <div class="col-4">Clean at Sephora</div>
            </div>
            <div class="row pb-4">
                <div class="col-4">Recyclable Packaging</div>
                <div class="col-4">Good for: Dullness/Uneven Texture</div>
                <div class="col-4">Clean at Sephora</div>
            </div>
        </div>
    </div>
    <hr>
    <div class="pb-5 ">
        <b class="py-3 d-inline-block">About the product </b>
        <div style="padding-left: 10.5em;">
            <p>What it is: A mega-strength AM/PM exfoliating serum that visibly improves skin’s texture, tone, radiance,
                and bounce with 10% lactic acid and 11 signal peptides.</p>
            <p>Skin Type: Normal, Dry, Combination, and Oily</p>
            <p>Skincare Concerns: Fine lines and wrinkles, Dullness, and Uneven texture</p>
        </div>
    </div>
</div>